version: '3.7'

services:
    gateway:
        build:
            context: gateway/docker/development/nginx
        ports:
            - 8080:8080
            - 8081:8081
        depends_on:
            - frontend
            - api
        volumes:
            - ./gateway/docker/development/nginx/conf.d:/etc/nginx/conf.d

    frontend:
        build:
            context: frontend/docker/development/nginx
        volumes:
            - ./frontend:/app
            - ./frontend/docker/development/nginx/conf.d:/etc/nginx/conf.d

    api:
        build:
            context: api/docker/development/nginx
        volumes:
            - ./api:/app
            - ./api/docker/development/nginx/conf.d:/etc/nginx/conf.d
        depends_on:
            - api-php-fpm

    api-php-fpm:
        build:
            context: api/docker/development/php-fpm
        volumes:
            - ./api:/app
        ports:
            - 9000:9000