version: '3.7'

services:
    frontend:
        build:
            context: frontend/docker/development/nginx
        ports:
            - 8080:80
        volumes:
            - ./frontend:/app
            - ./frontend/docker/development/nginx/conf.d:/etc/nginx/conf.d